.main-footer {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
  text-align: center;
  color: var(--clr-gray-900);
  background-color: var(--clr-primary-500);
  padding: var(--size-200) var(--size-400);
}

.main-footer .nav-list {
  flex-direction: column;
}

.footer-divider {
    --divider-color: var(--clr-gray-900);

    height: 1px;
    width: 100%;
    background-color: var(--divider-color);
}