.form {
  display: grid;
  gap: var(--size-400);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
}

.input-group {
  --clr-input-group: var(--clr-gray-50);
  --clr-input-group-bg: var(--clr-gray-900);
  --input-group-border-radius: var(--size-50);

  display: flex;
  align-items: stretch;
  color: var(--clr-input-group);
  background-color: var(--clr-input-group-bg);
  border-radius: var(--input-group-border-radius);
  overflow: hidden;
}

.input-addon {
  min-width: 2.5rem;
  display: grid;
  place-items: center;
  padding: var(--size-50);
}

.form-input {
  --clr-form-input: var(--clr-gray-50);
  --clr-form-input-bg: var(--clr-gray-900);
  --form-input-border-radius: var(--size-50);

  display: block;
  width: 100%;
  background-color: transparent;
  background-color: var(--clr-input-group-bg);
  border: none;
  border-radius: var(--input-group-border-radius);
  padding: var(--size-50);
  overflow: hidden;
}

.input-group > *:not(:last-child) {
  border-right: thin solid var(--clr-gray-700);
}

.input-group > .form-input {
  --clr-form-input-bg: transparent;
  --form-input-border-radius: 0;
}
